<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">
            {{ ez_render_field(content, 'logo', {
                'template': '@BikeRent/Location/fields/image.html.twig',
                'attr': {class: 'd-inline-block align-top img-thumbnail'},
                'parameters': {
                    'alias': 'navbar'
                }
            }) }}
            {{ ez_render_field(content, 'title') }}
        </a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                {% if menu|length > 0 %}
                    {% for itemMenu in menu %}
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ ez_path(itemMenu) }}">{{ ez_content_name(itemMenu) }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>