{% extends "@BikeRent/main_layout.html.twig" %}

{% block content %}
    <div class="card" style="width: 18rem;">
        {{ ez_render_field(content, 'photo', {
            'template': '@BikeRent/Location/fields/image.html.twig',
            'attr': {class: 'card-img-top'},
            'parameters': {
                'alias': 'large'
            }
        }) }}
        <div class="card-body">
            <h5 class="card-title">{{ ez_render_field(content, 'name') }}</h5>
            <p class="card-text">
                <div class="mb-3">
                    <h6>Marca</h6>
                    {{ ez_render_field(content, 'brand') }}
                </div>

                <div>
                    <h6>Tipo</h6>
                    {{ ez_render_field(content, 'type') }}
                </div>
            </p>
        </div>
    </div>
{% endblock %}