{% extends "@BikeRent/main_layout.html.twig" %}

{% block content %}
    <div class="card" style="width: 18rem;">
        <div class="card-header">Nuestras bicicletas</div>
        <div class="card-body">
            {% for bike in bikes %}
                {{ render(controller("ez_content::viewAction", {"contentId": bike.content.id, "viewType": "line"})) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}