{% extends "@BikeRent/main_layout.html.twig" %}

{% block content %}
    <div class="card" style="width: 18rem;">
        <div class="card-header"><h4>{{ ez_render_field(content, 'name') }}</h4></div>
        <div class="card-body">
            <div class="mb-3">
                <h5 class="card-title">Tipos de bicicletas</h5>
                <p class="card-text">{{ ez_render_field(content, 'bike_types') }}</p>
            </div>
            
            <div class="mb-3">
                <h5 class="card-title">Número de viajes</h5>
                <p class="card-text">{{ ez_render_field(content, 'travel_numbers') }}</p>
            </div>

            <div>
                <h5 class="card-title">Costo</h5>
                <p class="card-text">{{ ez_render_field(content, 'price') }}</p>
            </div>
        </div>
    </div>
{% endblock %}