{% extends "@BikeRent/main_layout.html.twig" %}

{% block content %}
    <div class="card" style="width: 20rem;">
        <div class="card-header"><h4>{{ ez_render_field(content, 'name') }}</h4></div>
        <div class="card-body">
            <div class="mb-3">
                <h5 class="card-title">Ciudad</h5>
                <p class="card-text">{{ ez_render_field(content, 'city') }}</p>
            </div>
            
            <div class="mb-3">
                <h5 class="card-title">Tipo de bicicleta</h5>
                <p class="card-text">{{ ez_render_field(content, 'bike_type') }}</p>
            </div>

            <div class="mb-3">
                <h5 class="card-title">Cupos</h5>
                <p class="card-text">{{ ez_render_field(content, 'spot') }}</p>
            </div>

            <div class="mb-3">
                <h5 class="card-title">Costo</h5>
                <p class="card-text">{{ ez_render_field(content, 'price') }}</p>
            </div>

            <div class="mb-3">
                <h5 class="card-title">Nivel de dificultad</h5>
                <p class="card-text">{{ ez_render_field(content, 'difficulty_level') }}</p>
            </div>
            
            <div>
                <h5 class="card-title">Fecha</h5>
                <p class="card-text">{{ ez_render_field(content, 'date') }}</p>
            </div>
        </div>
    </div>
{% endblock %}