{% extends "@EzPublishCore/content_fields.html.twig" %}

{% block ezobjectrelationlist_field %}
    {% apply spaceless %}
        {% if not ez_field_is_empty(content, field) %}
            {% for contentId in field.value.destinationContentIds %}
                {% apply spaceless %}
                    {{ render(controller('ez_content:viewAction', {'contentId': contentId, 'viewType': 'line' })) }}
                    {% if not loop.last %} - {% endif %}
                {% endapply %}
            {% endfor %}
        {% endif %}
    {% endapply %}
{% endblock %}