{% block ezselection_field %}
    {% if fieldSettings.options|length() > 0 %}
        {% for value in field.value.selection %}
            <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-{{ fieldSettings.options[value]|lower }}{{ fieldSettings.options[value]|lower == 'facebook' ? '-f' : (fieldSettings.options[value]|lower == 'linkedin' ? '-in' : '') }}"></i></a>
        {% endfor %}
    {% endif %}
{% endblock %}