<div class="row">
    <div class="col-sm-6 offset-md-3">
        <div class="card">
            <div class="card-header">{{ title|trans }}</div>
            <div class="card-body">
                <div id="bikesCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for bike in bikes %}
                            <div class="carousel-item {{ loop.index0 == 0 ? 'active' : '' }}">
                                <a href="{{ ez_path(bike) }}">
                                    <h6>{{ bike.name }}</h6>
                                    {{ render(controller("ez_content::viewAction", {"contentId": bike.id, "viewType": "line"})) }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#bikesCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#bikesCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>