<div class="row">
    <div class="col-sm-6 offset-md-3">
        <div class="card">
            <div class="card-header">{{ title|trans }}</div>
            <div class="card-body">
                <div class="accordion" id="suscriptionsAcordeon">
                    {% for suscription in suscriptions %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ loop.index0 }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index0 }}" aria-expanded="true" aria-controls="collapse{{ loop.index0 }}">
                                    {{ suscription.name }}
                                </button>
                            </h2>
                            <div id="collapse{{ loop.index0 }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index0 }}" data-bs-parent="#suscriptionsAcordeon">
                                <div class="accordion-body">
                                    <div class="mb-3">
                                        <h5>Tipos de bicicletas:</h5>
                                        {{ ez_render_field(suscription, 'bike_types', {
                                            'template': '@BikeRent/Location/fields/bike_types.html.twig',
                                        }) }}
                                    </div>

                                    <div class="mb-3">
                                        <h5>Número de viajes:</h5>
                                        {{ ez_render_field(suscription, 'travel_numbers') }}
                                    </div>

                                    <div>
                                        <h5>Costo:</h5>
                                        {{ ez_render_field(suscription, 'price') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>