<div class="row">
    <div class="col-sm-6 offset-md-3">
        <div class="card">
            <div class="card-header">{{ title|trans }}</div>
            <div class="card-body">
                <div class="accordion" id="toursAcordeon">
                    {% for tour in tours %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ loop.index0 }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index0 }}" aria-expanded="true" aria-controls="collapse{{ loop.index0 }}">
                                    {{ tour.name }}
                                </button>
                            </h2>
                            <div id="collapse{{ loop.index0 }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index0 }}" data-bs-parent="#toursAcordeon">
                                <div class="accordion-body">
                                    <div class="mb-3">
                                        <h5>Ciudad:</h5>
                                        {{ ez_render_field(tour, 'city', {
                                            'template': '@BikeRent/Location/fields/city.html.twig',
                                        }) }}
                                    </div>

                                    <div class="mb-3">
                                        <h5>Tipo de bicicleta:</h5>
                                        {{ ez_render_field(tour, 'bike_type', {
                                            'template': '@BikeRent/Location/fields/bike_type.html.twig',
                                        }) }}
                                    </div>

                                    <div class="mb-3">
                                        <h5>Cupos:</h5>
                                        {{ ez_render_field(tour, 'spot') }}
                                    </div>

                                    <div class="mb-3">
                                        <h5>Costo:</h5>
                                        {{ ez_render_field(tour, 'price') }}
                                    </div>

                                    <div class="mb-3">
                                        <h5>Nivel de dificultad:</h5>
                                        {{ ez_render_field(tour, 'difficulty_level') }}
                                    </div>

                                    <div>
                                        <h5>Fecha:</h5>
                                        {{ ez_render_field(tour, 'date') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>